<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Map</title>
</head>
<body>
    <h1>Hi!, Google Map Page</h1>
    <p><b>Google Search Engine with Google Map</b><br>
        <i>When you don't have a credit card to use a Google Map API Services</i><br>
        
        <br>
        16.469660712021206, 102.82865046002706 to 16.551980781591894, 102.76685800952298 <br>

        https://www.google.com/search?q=16.469660712021206%2C+102.82865046002706+to+16.551980781591894%2C+102.76685800952298 <br>
    </p>
    <img src="{% static 'frontend\images\version\google_map.png' %}" style="width: 800px; height: 600px;">
</body>
</html>